<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  Kyle Savage
  </title>
  <link rel="stylesheet" type="text/css" href="../src/css/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto+Mono|Montserrat:800" rel="stylesheet">
  <meta charset "utf-8" />
  <script src="https://use.fontawesome.com/e37bee2bcc.js"></script>
</head>

<body>
<header>
  <h1>Kyle Savage</h1>
</header>

<section class="contact-me">

<a href="mailto:krsavage99@gmail.com?subject=Let's%Talk"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <h2> Contact Me </h2> </a>
</section>

<section id=intro-content>
  <h2> Designing <br> <span> Digital </span> Experiences </h2>
  <p> I design and build websites, apps, logos <br> and visual experiences </p>
</section>

<section id="work">
  <h2> My Work, </h2>
    <ul class="flex-container">
      <li class="flex-item ptc">
        <a href="https://www.ptc.com/" target="_blank">
        <h3>Redesigning <br> PTC E-Learning </h3> <hr />
        <p> PTC is an enterprise software company that creates CAD software and is an emerging leader in the space of IoT and Augmented Reality. As a UX Intern at PTC, I was challenged to re-think and re-design the next generation of PTC’s popular e-learning platform </p></a>
      </li>
      <li class="flex-item olin">
        <h3>Thinking <br> about Aging </h3> <hr />
        <p> As a cross registered student of Olin College of Engineering, I worked on a team to create a product that would improve the life of an elderly adult </p>
      </li>
      <li class="flex-item passport">
        <h3> Passport <br> Sticker Series </h3> <hr />
        <p> Over the last 6 months, I have been designing new passport stamps for every new city I visit </p>
      </li>
      <li class="flex-item andrei">
      <h3> Website for <br> Andrei Okolokoulak </h3> <hr />
      <p> I created a website for a local Boston artist and started the beginnings of his brand </p>
      </li>
      <li class="flex-item chase">
      <h3> Chase App <br> Redesign </h3> <hr />
      <p> This was one of my first projects, where I redesigned the Chase Banking App, practicing usability tests and going from low fidelity to high fidelity </p>
    </ul>
</section>

<section id="me">
  <h2> Let's Talk, </h2>
  <section>
  <ul class="flex-container">
    <li class="flex-item info">
      <a class="hello" href="https://www.kylesavage.work"> <p> hello@ <br>kylesavage.work </p> </a>
      <a href="https://www.behance.net/krsavage9919c9"> <i class="fa fa-behance" aria-hidden="true"></i> </a>
      <a href="https://www.dribbble.com"> <i class="fa fa-dribbble" aria-hidden="true"></i> </a>
      <a href="https://www.linkedin.com/in/savagekyle/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
      <a href="https://medium.com/"> <i class="fa fa-medium" aria-hidden="true"></i> </a>
    </li>
    <li class="flex-item about">
       <p> Right now, I'm researching how UX Design can be applied to AI Chat Bots, studying at the Chinese University of Hong Kong and doing freelance projects </p>
    </li>
   </ul>
</section>

<footer>
  <h1> Kyle Savage- 2017 </h1>



</body>
</html>
