<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  Kyle Savage
  </title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto+Mono|Montserrat:800" rel="stylesheet">
  <meta charset "utf-8" />
  <script src="https://use.fontawesome.com/e37bee2bcc.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <meta property="og:image" content="pen-favicon.png"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="www.kylesavage.work"/>
  <meta property="og:title" content="Kyle Savage"/>
  <meta property="og:description" content="Creating Digital Experiences"/>

</head>

<body id="body">
<header>
  <h1>Kyle Savage</h1>
  <section class="contact-me">
  <a href="mailto:krsavage99@gmail.com?subject=Lets Talk" target="_blank"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Me </a>
  </section>
</header>

<section id=intro-content>
  <h2> Creating <br> <span> Digital </span> Experiences </h2>
  <p> I design and build websites, apps, logos <br> and visual experiences. Previously UX Intern @ <a class="company-name" href="https://www.ptc.com/" target="_blank"> PTC </a> </p>
</section>

<section id="work">
  <h2> My Work, </h2>
    <ul class="flex-container">
      <li class="flex-item ptc">
        <h3>Redesigning <br> PTC Learning Experience </h3> <hr />
        <p> PTC is an enterprise software company that creates CAD software and is an emerging leader in the space of IoT and Augmented Reality. As a UX Intern at PTC, I was challenged to re-think and re-design the next generation of PTC’s popular e-learning experience </p>
        <p class="button"> <a href="https://www.behance.net/gallery/57716745/Redesigning-the-PTC-Learning-Experience" target="_blank"> View Work </a> </p>
      </li>
      <li class="flex-item olin">
        <h3>Thinking <br> about Aging </h3> <hr />
        <p> As a cross registered student of Olin College of Engineering, I worked on a team to create a product that would improve the life of an elderly adult </p>
        <p class="button"> <a href="#" id="open"> View Work </a> </p>
      </li>
      <li class="flex-item illustration">
        <h3> Illustration <br> Work </h3> <hr />
        <p> My most recent exploration in design. Currently trying to capture my travels through design </p>
        <p class="button"> <a href="https://www.behance.net/gallery/58113449/Hello-from-Hong-Kong" target="_blank"> View Work </a> </p>
      </li>
      <li class="flex-item andrei">
      <h3> Website for <br> Andrei Okolokoulak </h3> <hr />
      <p> I created a website for a local Boston artist and started the beginnings of his brand </p>
      <p class="button"> <a href="https://www.andreiokolokoulak.com/" target="_blank"> View Work </a> </p>
      </li>
      <li class="flex-item chase">
      <h3> Chase App <br> Redesign </h3> <hr />
      <p> This was one of my first projects, where I redesigned the Chase Banking App, practicing usability tests and going from low fidelity to high fidelity </p>
      <p class="button"> <a href="https://www.behance.net/gallery/57711321/Chase-Mobile-Redesign" target="_blank"> View Work </a> </p>
    </ul>
</section>

<section id="me">
  <h2> Let's Talk, </h2>
  <section>
  <ul class="flex-container">
    <li class="flex-item info">
      <article class="contact-me-bottom">
      <a href="mailto:krsavage99@gmail.com" target="_blank"> Say Hello </a>
      </article>
      <ul class="social-media-links">
      <li> <a href="https://www.behance.net/krsavage9919c9" target="_blank"> <i class="fa fa-behance" aria-hidden="true"></i> <span class="sr-only"> Behance </span> </a> </li>
      <li> <a href="https://www.linkedin.com/in/savagekyle/" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i> <span class="sr-only"> LinkedIn </span> </a> </li>
      <li> <a href="https://medium.com/" target="_blank"> <i class="fa fa-medium" aria-hidden="true"></i> <span class="sr-only"> Medium </span> </a> </li>
    </ul>
    </li>
    <li class="flex-item about">
       <p> Right now, I'm researching how UX Design can be applied to AI Chat Bots, studying at the Chinese University of Hong Kong and doing freelance projects </p>
    </li>
   </ul>
</section>
</section>

<footer>
  <h1> Kyle Savage- 2017 </h1>
</footer>

<div class="modal">
  <div class="modal-content">
    <span class="exit close">&times;</span>
   <img width="100%" class="img-rounded" src="case_study.jpg" alt="Olin College Project"/>
   <button class="close">Close</button>
  </div>
</div>

</body>
  <script src="animation.js"></script>
</html>
