<!DOCTYPE html>
<html>
<head>
  <title>
  Kyle Savage
  </title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
  <meta charset "utf-8" />
</head>

<body>
<header> 
  <h1> Kyle Savage </h1>
</header>

<nav>
  <a href="#work"> Work </a> <br>
  <a href="#me"> Me </a> <br>
  <a href="#CV"> CV </a> <br>
</nav>

<section id=introContent>
  <h2> Designing Experiences <br> that make a <span> Splash! </span> </h2>
  <img src=robot.jpg>
</section>

<section id="work">
  <h2> My Work. </h2>
  <section class="wrapper">
    
    <article class="box-1">
      <img src="chase.php" alt="chase bank">
      <section class="overlay-text-1">
        <h3> Reimagining <br> Banking </h3>
        <p> In this side project, I created my vision for the Chase Banking app </p>
      </section>
    </article>

    <article class="box-2">
      <img src="passport.jpeg" alt="travel supplies">
      <section class="overlay-text-2">
        <h3> Appreciating <br> Passport Stamps </h3>
        <p> Over the last 6 months, I have been designing new passport stamps for every new city I visit </p>
      </section>
    </article>



  </section>
</section>




</body>
</html>